<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CineCritic_AI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/customCSS.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CineCritic_AI.styles.css" asp-append-version="true" />

    <!-- Font Awesome за икони -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />


</head>

<body>
        <div class="main-head">
            <nav class="head-nav">
                <div class="nav-links">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">
                        <i class="fa-solid fa-house"></i><span class="link-text">Home</span>
                    </a>
                    <a class="nav-link" asp-controller="Movies" asp-action="Index">
                        <i class="fa-solid fa-film"></i><span class="link-text">Movies</span>
                    </a>
                    <a class="nav-link" asp-controller="Reviews" asp-action="Index">
                        <i class="fa-solid fa-pen-to-square"></i><span class="link-text">Reviews</span>
                    </a>

                    @if (User?.Identity == null || !User.Identity.IsAuthenticated)
                    {
                        <a class="nav-link" asp-controller="Account" asp-action="Login">
                            <i class="fa-solid fa-right-to-bracket"></i><span class="link-text">Login</span>
                        </a>
                        <a class="nav-link" asp-controller="Account" asp-action="Register">
                            <i class="fa-solid fa-user-plus"></i><span class="link-text">Register</span>
                        </a>
                    }
                </div>
            @if (User?.Identity != null && User.Identity.IsAuthenticated)
            {
                <div class="user-footer">
                    <a class="user-link" asp-controller="Account" asp-action="EditProfile">
                        <i class="fa-solid fa-user"></i>
                        <span class="user-name">@User.Identity.Name</span>
                    </a>
                    <a class="logout-link" asp-controller="Account" asp-action="Logout">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <span class="link-text">Logout</span>
                    </a>
                </div>
            }

            </nav>
        </div>

    <!-- Основно съдържание -->
    <main>
        @RenderBody()
    </main>

   

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
